
.main-content {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    flex-direction: row;
}


.site-title {
    font-size: 26px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.search-content {
    display: flex;
    flex-direction: column;
}

.result-title {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    font-size: 24px;
}

.list-content {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}
.add-announcement-title{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 20px;
}